{
  "bracketSpacing": true,
  "printWidth": 140,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 1,
  "htmlWhitespaceSensitivity": "css",
  "cursorOffset": -1,
  "useTabs": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
} 
