{
  "bracketSpacing": true,
  "printWidth": 140,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "css",
  "cursorOffset": -1,
  "useTabs": true,
  "editor.formatOnSave": true,
  "arrowParens": "avoid"
}
