.headerWrapper {
	height: 84px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 16px;
	padding: 22px 32px;
	border-bottom: 1px solid rgba($gray, 0.15);

	position: relative;

	.addContactIcon {
		justify-content: center;
		border-radius: 10px;
		border: 1px solid rgba(77, 76, 172, 0.1);
		display: flex;
		background-color: #eceef5;
		cursor: pointer;
		transition: all 0.24s linear;
		height: 36px;
		width: 36px;
		align-items: center;
		svg {
			path {
				transition: all 0.24s linear;
			}
		}
		&:hover {
			background-color: rgba(#4d4cac, 0.1);
			border: 1px solid rgba(#4d4cac, 0.1);
			transition: all 0.24s linear;
			svg {
				path {
					fill: #6b59cc;
					transition: all 0.24s linear;
				}
			}
		}
	}

	.iconWrapper {
		display: flex;
		border: 1px solid transparent;
		transition: all 0.24s linear;
		border-radius: 10px;
		cursor: pointer;
		width: 40px;
		height: 40px;
		object-fit: cover;
		object-position: center;
		animation: normal activeBlockAnimate 2s infinite;
	}
}

@keyframes activeBlockAnimate {
	0% {
		box-shadow: 0px 0px 4px 4px rgba(155, 142, 241, 0.3);
	}
	50% {
		box-shadow: 0px 0px 9px 9px rgba(155, 142, 241, 0.3);
	}

	100% {
		box-shadow: 0px 0px 4px 4px rgba(155, 142, 241, 0.3);
	}
}
