.contactsLayoutWrapper{
    display: grid; 
    grid-template-columns: 550px 1fr;
    grid-template-rows: 84px 1fr; 
    grid-template-areas: 
        "cList header"  
        "cList description";
    max-width: 100vw;  
    height: 100vh;
    overflow: hidden;
    .contactsListSection{
        grid-area: cList;  
        background-color: $background;  
    }
    .headerWrapper{
        grid-area: header; 
        background-color: rgba($lightBlue, 0.3);
    }
    .contactsDescriptionWrapper{    
        grid-area: description;
        background-color: rgba($lightBlue, 0.3);
    }
}  