.headerMenuWrapper {
  position: absolute;
  right: 32px;
  bottom: -18px;
  border: 1px solid rgba(154, 141, 241, 0.7);
  padding: 0 4px;
  border-radius: 10px;
  z-index: 100;
  background-color: rgba(236, 238, 245);
}
